.main-container{
  display: flex;
}
.middle-box{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  background: gray;
  row-gap: 1rem;
}
.middle-box button{
  width: 100%;
  font-size: 2rem ;
}

header{
  padding: 2rem;
  display: flex;
  background-color: gray;
  column-gap: 40rem;
  color: white;
  font-weight: bolder;

}

.boxOne, .boxTwo{
  border: 1px solid;
  flex-grow: 4;

}
.boxOne label, .boxTwo label{
  display: flex;
 
}


